name: dotnet-build

on:
  workflow_call:
    inputs:
      dotnet_version:
        description: "Specifies the .NET SDK version to use."
        required: false
        default: "8.0.x"
        type: string
      nuget_source_url:
        description: "URL for the custom NuGet source."
        required: false
        default: "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
        type: string
      nuget_source_name:
        description: "Name for the custom NuGet source."
        required: false
        default: "github"
        type: string
      nuget_store_password_clear_text:
        description: "Flag to store the NuGet password in clear text."
        required: false
        default: true
        type: boolean
      run_tests:
        description: "Flag to enable or disable running tests."
        required: false
        default: true
        type: boolean
      build_no_restore:
        description: "Flag to enable or disable the --no-restore option during build."
        required: false
        default: true
        type: boolean
      build_configuration:
        description: "Build configuration (e.g., Debug or Release)."
        required: false
        default: "Release"
        type: string
      slack_enabled:
        description: "Flag to enable Slack notifications"
        required: false
        default: false
        type: boolean
      slack_username:
        description: "Slack username for the notification"
        required: false
        default: "bot"
        type: string
      slack_channel:
        description: "Slack channel name for the notification"
        required: false
        default: "slack-notification"
        type: string
      slack_title:
        description: "Slack title of the notification"
        required: false
        default: "Build"
        type: string         
    secrets:
      NUGET_USERNAME:
        required: true
      NUGET_PASSWORD:
        required: true
      SLACK_WEBHOOK:
        required: false  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: ${{ inputs.dotnet_version }}

      - name: Cache NuGet packages
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Add .NET NuGet source
        if: inputs.nuget_source_url != ''
        run: |
          dotnet nuget add source ${{ inputs.nuget_source_url }} \
            --name ${{ inputs.nuget_source_name }} \
            --username ${{ secrets.NUGET_USERNAME }} \
            --password ${{ secrets.NUGET_PASSWORD }} \
            ${{ inputs.nuget_store_password_clear_text && '--store-password-in-clear-text' || '' }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: |
          dotnet build \
            ${{ inputs.build_no_restore && '--no-restore' || '' }} \
            --configuration ${{ inputs.build_configuration }}

      - name: Run tests
        if: ${{ inputs.run_tests }}
        run: dotnet test --verbosity normal

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: ${{ inputs.slack_enabled }}
        env:
          SLACK_USERNAME: ${{ inputs.slack_username }}
          SLACK_CHANNEL: ${{ inputs.slack_channel }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: ${{ inputs.slack_title }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}        
