name: Gradle Java Publish
on:
  workflow_call:
    inputs:
      java_version:
        description: "JDK version to use"
        required: false
        default: '21'
        type: string
      java_distribution:
        description: "JDK distribution to use"
        required: true
        type: string
      gradle_enable_cache:
        description: "Cache Gradle dependencies"
        required: false
        default: false
        type: boolean
      gradle_enable_scan:
        description: "Enable Gradle build scans"
        required: false
        default: false
        type: boolean
      gradle_log_level:
        description: "Gradle logging level"
        required: false
        default: "info"
        type: string
      slack_enabled:
        description: "Flag to enable Slack notifications"
        required: false
        default: false
        type: boolean
      slack_username:
        description: "Slack username for the notification"
        required: false
        default: "bot"
        type: string
      slack_channel:
        description: "Slack channel name for the notification"
        required: false
        default: "slack-notification"
        type: string
      slack_title:
        description: "Slack title of the notification"
        required: false
        default: "Build"
        type: string                
    secrets:
      MAVEN_REGISTRY_USERNAME:
        required: true
      MAVEN_REGISTRY_PASSWORD:
        required: true
      SLACK_WEBHOOK:
        required: false           
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}
          cache: gradle

      - name: Cache Gradle packages
        if: ${{ inputs.gradle_enable_cache }}
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Maven settings
        run: |
          if [ -f settings-template.xml ]; then
            echo "settings-template.xml found. Copying to ~/.m2/settings.xml"
            mkdir -p ~/.m2
            cp settings-template.xml ~/.m2/settings.xml
          else
            echo "settings-template.xml not found. Skipping this step."
          fi          

      - name: Build and test with Gradle
        run: ./gradlew clean test --${{ inputs.gradle_log_level}}

      - name: Publish package
        run: ./gradlew publish --${{ inputs.gradle_log_level}}  ${{ inputs.gradle_enable_scan && '--scan' || '' }}
        env:
          MAVEN_REGISTRY_USERNAME: ${{ secrets.MAVEN_REGISTRY_USERNAME }}
          MAVEN_REGISTRY_PASSWORD: ${{ secrets.MAVEN_REGISTRY_PASSWORD }}

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: ${{ inputs.slack_enabled }}
        env:
          SLACK_USERNAME: ${{ inputs.slack_username }}
          SLACK_CHANNEL: ${{ inputs.slack_channel }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: ${{ inputs.slack_title }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}             