name: Gradle Java Build
on:
  workflow_call:
    inputs:
      java_version:
        description: "JDK version to use"
        required: false
        default: '23'
        type: string
      java_distribution:
        description: "JDK distribution to use"
        required: true
        type: string
      cache_gradle:
        description: "Cache Gradle dependencies"
        required: false
        default: true
        type: boolean
      cache_sonar:
        description: "Cache SonarCloud packages"
        required: false
        default: true
        type: boolean
      gradle_build_args:
        description: "Additional Gradle build arguments (e.g., '-PmavenRepoUser=user -PmavenRepoPassword=password')"
        required: false
        default: ""
        type: string        
      gradle_disable_daemon:
        description: "Set to true to disable the Gradle daemon by using the --no-daemon flag."
        required: false
        default: true
        type: boolean
      gradle_enable_sonar:
        description: "Enable Sonar analysis"
        required: false
        default: false
        type: boolean
      gradle_enable_scan:
        description: "Enable Gradle build scans"
        required: false
        default: false
        type: boolean
      gradle_run_tests:
        description: "Run tests during the build"
        required: false
        default: true
        type: boolean
      gradle_native_tests:
        description: "Run native tests during the build"
        required: false
        default: false
        type: boolean        
      gradle_log_level:
        description: "Gradle logging level"
        required: false
        default: "info"
        type: string
      gradle_publish_enabled:
        description: "Enable Gradle publish step execution"
        required: false
        default: false
        type: boolean
      slack_enabled:
        description: "Flag to enable Slack notifications"
        required: false
        default: false
        type: boolean
      slack_username:
        description: "Slack username for the notification"
        required: false
        default: "bot"
        type: string
      slack_channel:
        description: "Slack channel name for the notification"
        required: false
        default: "slack-notification"
        type: string
      slack_title:
        description: "Slack title of the notification"
        required: false
        default: "Build"
        type: string              
    secrets:
      SONAR_TOKEN:
        required: false
      MAVEN_REGISTRY_USERNAME:
        required: false
      MAVEN_REGISTRY_PASSWORD:
        required: false
      SLACK_WEBHOOK:
        required: false          
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}
          cache: gradle

      - name: Cache SonarCloud packages
        if: ${{ inputs.cache_sonar }}
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        if: ${{ inputs.cache_gradle }}
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Gradle build
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          MAVEN_REGISTRY_USERNAME: ${{ secrets.MAVEN_REGISTRY_USERNAME }}
          MAVEN_REGISTRY_PASSWORD: ${{ secrets.MAVEN_REGISTRY_PASSWORD }}
        run: |
          ./gradlew build \
          ${{ inputs.gradle_run_tests && 'test' || '' }} \
          ${{ inputs.gradle_native_tests && 'nativeTest' || ''}} \
          ${{ inputs.gradle_enable_sonar && 'sonar' || '' }} \
          ${{ inputs.gradle_disable_daemon && '--no-daemon' || '' }} \
          --${{ inputs.gradle_log_level}}  \
          ${{ inputs.gradle_enable_scan && '--scan' || '' }} \
          ${{ inputs.gradle_build_args }} \
          --warning-mode all

      - name: Gradle publish
        if: ${{ inputs.gradle_publish_enabled }}
        env:
          MAVEN_REGISTRY_USERNAME: ${{ secrets.MAVEN_REGISTRY_USERNAME }}
          MAVEN_REGISTRY_PASSWORD: ${{ secrets.MAVEN_REGISTRY_PASSWORD }}
        run: ./gradlew publish \
          --${{ inputs.gradle_log_level}} \ 
          ${{ inputs.gradle_disable_daemon && '--no-daemon' || '' }}

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: ${{ inputs.slack_enabled }}
        env:
          SLACK_USERNAME: ${{ inputs.slack_username }}
          SLACK_CHANNEL: ${{ inputs.slack_channel }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: ${{ inputs.slack_title }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}              